table{
	border:1px solid black;
	border-collapse: collapse;
}
td, th{
	border:1px solid black;
	padding:5px 10px;
}

th {
	background:lightgrey;
}

p {
	margin:0
}

ul {
	margin: 0;

}

#odd {
	width:10px;
	display:block;
}

.portrait{
	padding: 0 0;
	clip: rect(10px, 90px, 190px, 10px);

}

.nameCol {
	max-width: 123px;
}

.nameCol2 {
	max-width: 175px;
}

.CoA {
	height:55px;
	width:50px;

	position:relative;
	display:block;
}

.CoAT{
	background: lightgray;
	padding:0;

}

.CoA img {
	position: absolute;
	top: 0px;
	right:0px;
}

.qurTopLeft {
	top: 0%;
  right:0px;
  position: absolute;
  width:50%;
  height:50%;
}

.qurTopRight {
	top: 0%;
  left:0px;
  position: absolute;
  width:50%;
  height:50%;
}

.qurBottomRight {
	bottom: 0%;
  left:0px;
  position: absolute;
  width:50%;
  height:50%;
}

.qurBottomLeft {
	bottom: 0%;
  right:0px;
  position: absolute;
  width:50%;
  height:50%;
}

.or_e { background:yellow; }

.argent_e { background:white; }

.sable_e { background:black; }

.vert_e { background:green; }

.azure_e { background:#0000FF; }

.gules_e { background:red; }

.purpure_e { background:purple; }

.or_o { filter: invert(89%) sepia(51%) saturate(1293%) hue-rotate(356deg) brightness(109%) contrast(105%); }

.argent_o { filter: invert(100%) sepia(0%) saturate(6404%) hue-rotate(353deg) brightness(105%) contrast(108%);}

.sable_o { filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(107%) contrast(107%); }

.vert_o { filter: invert(18%) sepia(98%) saturate(5569%) hue-rotate(118deg) brightness(99%) contrast(105%); }

.gules_o { filter: invert(13%) sepia(96%) saturate(5276%) hue-rotate(1deg) brightness(106%) contrast(120%); }

.azure_o { filter: invert(12%) sepia(94%) saturate(5075%) hue-rotate(245deg) brightness(88%) contrast(154%); }

.purpure_o { filter: invert(15%) sepia(86%) saturate(7263%) hue-rotate(296deg) brightness(62%) contrast(107%); }
